name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1. Baixar o código
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Configurar Java
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      # 3. Instalar dependências e rodar testes
      - name: Build with Maven
        run: mvn clean install

      - name: Run tests
        run: mvn test

      # 4. Relatório de cobertura
      - name: Test coverage report
        run: mvn jacoco:report